/* 
#3aafa9

#081950

#ffffff */

.all{
    background-image: url("https://img.freepik.com/free-vector/flat-design-apps-fitness-tracker-man-running_23-2148527078.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 



.heading {
   justify-content: center;
   margin-left: 35%;
    
   color: white;
}
.date{
    display: flex;
    flex-direction: row;
    column-gap:10px;
}
.dateone{
    margin-right: 10%;
}
.date input{
   column-gap: 10%; 
}

.First input{
    border: none;
    border-bottom: 3px solid skyblue;
    padding-bottom: 2%;
    row-gap: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size:70%; 
   
    
}
.First{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:30%;
    margin-right:20%;
    margin-top: 5%;
    font-size: 150%;
    border: 1px solid black;
    padding: 100px;
    padding-top: 100px;
    padding-right:70px;
    padding-left: 70px;
    background:linear-gradient(#081950);
    color: white;
}
.planned{
    display: flex;
    flex-direction: row;
    border: none;
    margin-right:10%;
    margin-bottom: 10px;
}
.First input:hover{
          background-color:#3aafa9;
          border: none;
          border-radius: 20px;
}
.note{
    margin-top:10px;
    display: flex;
    flex-direction:column;
    
   
}
.note input{
    
    margin-top: 4px;
    
}
.note input:hover{
    background-color:#3aafa9;
    border: none;
    border-radius: 30px;
}
.btn{
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: 1px 1px 1px black;
    border:none;
    padding-left:19%;
    padding-right:18%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color:#3AAFA9;
    color: white;
    border-radius: 20px;
}
.btn:hover{
    background-color: #8cd9d5e6;
    
}


@media (max-width:576px){
    .all{
    background-image: url("https://img.freepik.com/free-vector/flat-design-apps-fitness-tracker-man-running_23-2148527078.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
} 
.First{
    margin-left:10px;
    margin-right:10px;
    font-size: 20px;
    padding-left:20px;
}



.First input{
   
    font-size:10px; 
    margin-left:0;
    margin-right: 0;
   
}

.date{
    display: flex;
    flex-direction:column;
    row-gap:10px;
    font-size:20px;
    
}
.heading {
  font-size:70%;
  margin-left: 15%;
}
.btn{
    font-size:15px;
    margin-left: 20%;
}

}


@media (min-width:576px) and (max-width:768px){
    .all{
    background-image: url("https://img.freepik.com/free-vector/flat-design-apps-fitness-tracker-man-running_23-2148527078.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
} 
.First{
    margin-left:10px;
    margin-right:10px;
    font-size: 25px;
    padding-left:20px;
}



.First input{
   
    font-size:20px; 
    margin-left:0;
    margin-right: 0;
   
}

.date{
    display: flex;
    flex-direction:column;
    row-gap:10px;
    font-size:25px;
    
}
.heading {
  font-size:70%;
  margin-left: 15%;
}
.btn{
    font-size:25px;
}

}



@media (min-width:768px) and (max-width:992px){
    .all{
    background-image: url("https://img.freepik.com/free-vector/flat-design-apps-fitness-tracker-man-running_23-2148527078.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
} 
.First{
    margin-left:10px;
    margin-right:10px;
    font-size: 35px;
    padding-left:20px;
    padding-right: 20%;
}



.First input{
   
    font-size:25px; 
    margin-left:0;
    margin-right: 0;
   
}

.date{
    display: flex;
    flex-direction:column;
    row-gap:10px;
    font-size:35px;
    
}
.heading {
  font-size:100%;
  margin-left: 25%;
}

.btn{
    font-size:30px;
}
}



@media (min-width:992px) and (max-width:1200px){
    .all{
    background-image: url("https://img.freepik.com/free-vector/flat-design-apps-fitness-tracker-man-running_23-2148527078.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
} 
.First{
    margin-left:10px;
    margin-right:10px;
    font-size: 35px;
    padding-left:20px;
    padding-right: 20%;
}



.First input{
   
    font-size:25px; 
    margin-left:0;
    margin-right: 0;
   
}

.date{
    display: flex;
    flex-direction:column;
    row-gap:10px;
    font-size:35px;
    
}
.heading {
  font-size:110%;
  margin-left: 30%;
}

.btn{
    font-size:30px;
}
}


@media (min-width:1200px) and (max-width:1400px){
    .all{
    background-image: url("https://img.freepik.com/free-vector/flat-design-apps-fitness-tracker-man-running_23-2148527078.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
} 
.First{
    margin-left:10%;
    margin-right:10%;
    font-size: 45px;
    padding-left:20px;
    padding-right: 20%;
}



.First input{
   
    font-size:25px; 
    margin-left:0;
    margin-right: 0;
   
}

.date{
    display: flex;
    flex-direction:column;
    row-gap:10px;
    font-size:45px;
    
}
.heading {
  font-size:150%;
  margin-left: 30%;
}

.btn{
    font-size:30px;
}
}

